/* Stil za post-card */
.post-card {
  max-width: 500px; /* Prilagodite širinu prema potrebama */
  margin: 0 auto; /* Centriranje forme */
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-header h2 {
  font-size: 18px;
  margin: 0;
}

.post-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.post-actions button {
  background-color: #4267B2;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  outline: none; /* Uklanja stil primećivanja */
}

.post {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-header p {
  font-size: 12px;
  margin: 0;
  color: #999999;
}

.post-content {
  margin-bottom: 10px;
}

.post-content textarea {
  width: 100%;
  min-height: 60px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

#content {
  margin: 0;
}

#editText {
  width: 100%;
  min-height: 60px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}



