<div class="post-card">
  <div class="post-header">
    <h2>New post</h2>
  </div>
  <div class="post-content">
    <textarea [(ngModel)]="newPostContent" placeholder="Create post"></textarea>
  </div>
  <div class="post-actions">
    <select [(ngModel)]="selectedGroup">
      <option value="">Public</option>
      <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
    </select>
    <button (click)="createPost()">Create</button>
  </div>
</div>
<div *ngFor="let post of posts" class="post">
    <div class="post-header" *ngFor="let group of groups">
      <h2>{{ post.createdBy?.displayName ? post.createdBy?.displayName : post.createdBy?.username}}</h2>
      <p *ngIf="post.containedBy">Private</p>
      <p *ngIf="!post.containedBy">Public</p>
      <p>{{ post.createdAt }}</p>
      <ng-container *ngIf="!post.isEditing && !post.isUpdating && post.createdBy?.username === currentUser?.sub">
        <button id="btnEdit" (click)="startEditPost(post)">Edit</button>
        <button id="btnDelete" (click)="deletePost(post.id)">Delete</button>
      </ng-container>
      <ng-container *ngIf="post.isEditing && !post.isUpdating">
        <button id="btnCancel" (click)="cancelEditPost(post)">Cancel</button>
        <button id="btnConfirm" (click)="updatePost(post.id, post)">Confirm</button>
      </ng-container>
    </div>
    <div class="post-content">
      <p id="content" *ngIf="!post.isEditing">{{ post.content }}</p>
      <textarea id="editText" *ngIf="post.isEditing" [(ngModel)]="post.updatedContent"></textarea>
    </div>
</div>